<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Строка подключения к базе данных для .NET 8.0 -->
		<add name="DefaultConnection"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BookManagerDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>